<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <h1>Homee</h1>
        <div v-for="(form,index) in dat.forms"> {{form.formName}} {{`(${form.responses.length})`}}
            <button>Show responses</button> <br><br>
        </div>
        <a href="/CreateNewForm">Create new form</a>

    </div>


    
    <script>
        const app= new Vue({
            el:"#app",
            data:{
                dat:JSON.parse('<%- data %>')
            }
        })
    
    </script>
</body>
</html>